<div id="widgetManualBuyOrder" class="col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <i class="fab fa-btc"></i>Manual Buy
            </div>
        </div>
        <div class="card-body" v-if="apiMainConfigData">
            <div class="row">
                <div class="col-4">
                    You have:
                </div>
                <div class="col-8">
                    <a href="#" id="totalAssets">0.03156834</a> BTC
                </div>
            </div>

            <hr>

            <div class="row form-group">
                <div class="col-4 col-form-label">
                    <strong>Select coin</strong>
                </div>
                <div class="col-8">
                    <div class="input-group">
                        <select name="display" id="currencySelector" class="select2" data-live-search="true" data-size="10" data-width="auto">
                            <option v-for="(value, key) in exchangeCoinsData" v-bind:value="value" data-icon="fas fa-chart-line">&nbsp;&nbsp;{{value}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="currentCurrencyPrices" style="display: none; padding-bottom: 10px;">
                <div class="row">
                    <div class="col-4">
                        <strong>Lowest ask:</strong>
                    </div>
                    <div class="col-8">
                        {{currentCurrencyAsk}} BTC
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <strong>Last price:</strong>
                    </div>
                    <div class="col-8">
                        {{currentCurrencyLast}} BTC
                    </div>
                </div>
            </div>

            <div class="row form-group ">
                <div class="col-4 col-form-label">
                    <strong>Price</strong>
                </div>
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" v-if="!currentCurrencyAsk" class="form-control" value="">
                        <input type="text" v-if="currentCurrencyAsk" class="form-control" v-model="currentCurrencyAskManual" :value="currentCurrencyAskManual">
                        <span class="input-group-append">
                            BTC
                        </span>
                    </div>
                </div>
            </div>

            <div class="row form-group ">
                <div class="col-4 col-form-label">
                    <strong>Amount</strong>
                </div>
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" v-if="!currentCurrencyAsk" class="form-control" value="">
                        <input type="text" v-if="currentCurrencyAsk" class="form-control" :value="((apiMainConfigData.tradeOptions.amountToInvestPerTrader/currentCurrencyAskManual).toFixed(8))">
                        <span class="input-group-append">COIN</span>
                    </div>
                </div>
            </div>

            <p onclick="toggleDiv('buySellOptions')" style="cursor: pointer; margin-top: 10px;">
                <i class="fas fa-plus" style="font-size: 14px;"></i> buy/sell options
            </p>

            <div id="buySellOptions" style="display: none">

                <div class="row form-group ">
                    <div class="col-4 col-form-label">
                        <strong>Take profit at</strong>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <input type="text" id="manualBuyOrderPercentageProfit" name="manualBuyOrderPercentageProfit" class="form-control">
                        </div>
                    </div>
                </div>


                <div class="row form-group ">
                    <div class="col-4 col-form-label">
                        <strong>Sell price</strong>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <input type="text" id="manualBuyOrderSellPrice" name="manualBuyOrderSellPrice" class="form-control">
                            <span class="input-group-append">
                                BTC
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-4 col-form-label">
                        <strong>Trailing buy</strong>
                    </div>
                    <div class="col-8">
                        <label class="switch switch-label switch-primary">
                            <input type="checkbox" class="switch-input bool" checked="" name="manualBuyOrderTrailingEnabled" />
                            <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                        </label>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-4 col-form-label">
                        <strong>Trailing buy percentage</strong>
                    </div>
                    <div class="col-8">
                        <input type="text" id="manualBuyOrderTrailingPercentage" name="manualBuyOrderTrailingPercentage" class="form-control" value="">
                    </div>
                </div>

            </div>

            <hr>

            <div class="row form-group ">
                <div class="col-4 col-form-label">
                    <strong>Total</strong>
                </div>
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="apiMainConfigData.tradeOptions.amountToInvestPerTrader" :value="apiMainConfigData.tradeOptions.amountToInvestPerTrader">
                        <span class="input-group-append">
                            BTC
                        </span>
                    </div>
                </div>
            </div>

            <br />
            <button type="button" v-if="apiMainConfigData.tradeOptions.buyEnabled" onclick="placeBuyOrder()" class="btn btn-primary btn-block">Place buy order</button>
            <button type="button" v-if="!apiMainConfigData.tradeOptions.buyEnabled" class="btn btn-danger btn-block">Buying disabled</button>

        </div>

    </div>
</div>



<script type="text/javascript">
    function toggleDiv(divId) {
        $("#" + divId).toggle();
    }

    var pagefunction = function () {
        $(".select2").select2({
            theme: "bootstrap",
            width: "100%"
        });

        $('#currencySelector').change(function () {
            widgetManualBuyOrder.getTicker();
        });

    };

    var widgetManualBuyOrder = new Vue({
        el: '#widgetManualBuyOrder',
        parent: vueMain,

        data: {
            apiMainConfigData: null,
            allStrategiesData: null,
            exchangeCoinsData: null,
            currentCurrencyAsk: null,
            currentCurrencyAskManual: null,
            currentCurrencyBid: null,
            currentCurrencyLast: null,
            currentCurrencyVolume: null
        },

        created: function () {
            this.fetchData();
        },

        methods: {
            serializeForm: function () {
                postFormData("apiMainConfig", "/api/config/mainConfig", false);
            },
            isBool: function (data) {
                if ((typeof (data) === "boolean")) {
                    return true;
                }
                return false;
            },
            getTicker: function () {
                var self = this;
                $.get('/api/trading/getTicker?symbol=' + $("#currencySelector").val(), function (data) {
                    console.log(data);
                    self.currentCurrencyAsk = data.ask;
                    self.currentCurrencyAskManual = data.ask;
                    self.currentCurrencyBid = data.bid;
                    self.currentCurrencyLast = data.last;
                    self.currentCurrencyVolume = data.volume;
                    $('#currentCurrencyPrices').show();
                });
            },
            fetchData: function () {
                var self = this;
                $.get('/api/config/mainConfig', function (data) {
                    self.apiMainConfigData = data;
                    $.get('/api/trading/exchangePairsExchangeSymbols?exchange=Binance', function (data) {
                        self.exchangeCoinsData = data;
                        self.$nextTick(function () {
                            pagefunction();
                        });
                    });
                });
            }
        }
    });


</script>
