<!-- DATA TABLES -->
<script src="/vendors/datatables.net/js/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendors/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<link href="/vendors/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="/vendors/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<script src="/vendors/moment/js/moment-with-locales.min.js"></script>
<script src="/vendors/axios/js/axios.min.js"></script>

<style>
    .greenCell {
        background: rgba(0, 255, 0, 0.2) !important;
    }

    .redCell {
        background: rgba(255, 0, 0, 0.20) !important;
    }
</style>
<style>
    .small-text {
        font-size: 10px;
        line-height: 24px;
    }

    .table-round > .box-body {
        padding: 0;
    }

    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 0;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 0;
    }

    table.dataTable {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border-collapse: collapse !important;
    }

    .dataTables_wrapper .row .col-sm-12 {
        padding: 0 !important;
    }

    div.dataTables_wrapper div.dataTables_info {
        padding: 1.8em;
    }

    div.dataTables_wrapper div.dataTables_paginate {
        padding: 1em;
    }

    .card-body-header {
        margin-right: 0;
        margin-left: 0;
        padding-top: 15px;
        background-color: rgba(198, 198, 198, 0.5);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .table-bordered {
        border: 0;
    }

    .select2-selection {
        width: 100%;
    }
</style>


<div class="row animated fadeIn" id="widgetBackendTester">

    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <i class="fas fa-history"></i>&nbsp;Backtest
            </div>

            <div class="row card-body-header">
                <div class="col-3">
                    <select id="tradingStrategy" name="tradingStrategy" class="selectpicker">
                        <option value="all" data-icon="fas fa-star">&nbsp;&nbsp;Test all Strategies</option>
                        <option v-for="(value, key) in allStrategiesData" v-bind:value="btoa(allStrategiesData[key]['Name'])" data-icon="fas fa-chart-line">&nbsp;&nbsp;{{allStrategiesData[key]['Name']}}</option>
                    </select>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-success" style="width: 100%;" id="startButton" onclick="runStrategy();">Start</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-warning" style="width: 100%;" id="refreshButton" onclick="refeshCandles();">Refresh Candles</button>
                </div>
                <div class="col-6">

                    <div class="form-group row">
                        <label for="candleAge" class="col-3 col-form-label">Candles Size:</label>
                        <div class='col-9 input-group date' id='candleAge'>
                            <select name="display" id="candleSize" class="selectpicker" data-width="auto">
                                <option value="1" data-icon="fas fa-clock">&nbsp;&nbsp;1 minute</option>
                                <option value="5" data-icon="fas fa-clock">&nbsp;&nbsp;5 minutes</option>
                                <option value="15" data-icon="fas fa-clock">&nbsp;&nbsp;15 minutes</option>
                                <option value="30" data-icon="fas fa-clock">&nbsp;&nbsp;30 minutes</option>
                                <option value="60" data-icon="fas fa-clock">&nbsp;&nbsp;1 hour</option>
                                <option value="120" data-icon="fas fa-clock">&nbsp;&nbsp;2 hours</option>
                                <option value="240" data-icon="fas fa-clock">&nbsp;&nbsp;4 hours</option>
                                <option value="1440" data-icon="fas fa-clock">&nbsp;&nbsp;1 day</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row card-body-header">
                <div class="col-6">
                    <div class="form-group row">
                        <label for="exchangeCoinsId" class="col-3 col-form-label">Coin:</label>
                        <div class='col-9 input-group date' id='exchangeCoinsId'>
                            <select name="display" id="currencyToCheck" class="select2-multiple" data-live-search="true" data-size="10" data-width="auto">
                                <option v-for="(value, key) in exchangeCoinsData" v-bind:value="value" data-icon="fas fa-chart-line">&nbsp;&nbsp;{{value}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group row">
                        <label for="exchangeExchangeId" class="col-3 col-form-label">Exchange:</label>
                        <div class='col-9 input-group date' id='exchangeExchangeId'>
                            <select name="display" id="exchangeSelect" class="selectpicker">
                                <option value="gdax" data-image="/img/exchange/gdax.png">Gdax</option>
                                <option value="binance" data-image="/img/exchange/binance.png">Binance</option>
                                <option value="bittrex" data-image="/img/exchange/bittrex.png">Bittrex</option>
                                <option value="poloniex" data-image="/img/exchange/poloniex.png">Poloniex</option>
                                <option value="kucoin" data-image="/img/exchange/kucoin.png">KuCoin</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row card-body-header">
                <div class="col-6">
                    <template v-if="candleAgeData.length !== 0">
                        <div class="form-group row">
                            <label for="exchangeCoinsAvailableData" class="col-3 col-form-label">Available Data:</label>
                            <div class='col-9 col-form-label' id='exchangeCoinsAvailableData'>
                                <template v-for="(value, key) in candleAgeData">
                                    {{candleAgeData[key]["Coin"]}}: {{formatDate(candleAgeData[key]["FirstCandleDate"])}} to {{formatDate(candleAgeData[key]["LastCandleDate"])}}
                                    <br />
                                </template>

                            </div>
                        </div>
                    </template>

                    <template v-if="candleAgeData.length === 0">
                        <div class="form-group row">
                            <label for="exchangeCoinsNoAvailableData" class="col-3 col-form-label">Available Data:</label>
                            <div class='col-9 col-form-label' id='exchangeCoinsNoAvailableData'>
                                No available Data please refresh first or select other coin
                            </div>
                        </div>
                    </template>

                </div>
            </div>

            <div class="card-body" id="backtesterBody">
                <table class="table table-striped p-0 table-hover" id="backtesterTableId"></table>
            </div>

            <div class="row">                

                <div class="col-md-8" id="charts">              
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#SignalId").change(function () {
                                var t = $(this).val();
                                if (t !== "") {

                                    var margin = { top: 20, right: 20, bottom: 100, left: 80 },
                                        margin2 = { top: 620, right: 20, bottom: 20, left: 80 },
                                        width = 1000 - margin.left - margin.right,
                                        height = 700 - margin.top - margin.bottom,
                                        height2 = 700 - margin2.top - margin2.bottom;

                                    var parseDate = d3.timeParse("%Y-%m-%dT%H:%M:%S");

                                    var x = techan.scale.financetime().range([0, width]);
                                    var y = d3.scaleLinear().range([height, 0]);

                                    var x2 = techan.scale.financetime().range([0, width]);
                                    var y2 = d3.scaleLinear().range([height2, 0]);

                                    var yVolume = d3.scaleLinear().range([y(0), y(0.3)]);

                                    var brush = d3.brushX().extent([[0, 0], [width, height2]]).on("end", brushed);

                                    var candlestick = techan.plot.candlestick().xScale(x).yScale(y);

                                    var volume = techan.plot.volume().xScale(x).yScale(yVolume);

                                    var close = techan.plot.close().xScale(x2).yScale(y2);

                                    var sma0 = techan.plot.sma().xScale(x).yScale(y);
                                    var sma1 = techan.plot.sma().xScale(x).yScale(y);
                                    var ema2 = techan.plot.ema().xScale(x).yScale(y);
                                    var ema3 = techan.plot.ema().xScale(x).yScale(y);

                                    var plotLine1 = d3.line()
                                        .defined(function (d) {
                                            return !isNaN(d.open);
                                        })
                                        .x(function (d) {
                                            return x(d.date);
                                        })
                                        .y(function (d) {
                                            return y(d.line1);
                                        });

                                    var xAxis = d3.axisBottom(x);
                                    var yAxis = d3.axisLeft(y);

                                    var xAxis2 = d3.axisBottom(x2);
                                    var yAxis2 = d3.axisLeft(y2).ticks(0);

                                    var tradearrow = techan.plot.tradearrow()
                                        .xScale(x)
                                        .yScale(y)
                                        .orient(function (d) {
                                            if (d.type === 'buy') return "right";
                                            if (d.type === 'sell') return "left";
                                        });

                                    var ohlcAnnotation = techan.plot.axisannotation().axis(yAxis).orient('left').format(d3.format(',.8'));

                                    var timeAnnotation = techan.plot.axisannotation()
                                        .axis(xAxis)
                                        .orient('bottom')
                                        .format(d3.timeFormat('%Y-%m-%dT%H:%M:%S'))
                                        .width(65)
                                        .translate([0, height]);

                                    var crosshair = techan.plot.crosshair().xScale(x).yScale(y).xAnnotation(timeAnnotation).yAnnotation(ohlcAnnotation);

                                    var bollinger = techan.plot.bollinger().xScale(x).yScale(y);
                                    var macd = techan.plot.macd().xScale(x).yScale(y);

                                    d3.select("svg").remove();

                                    var svg = d3.select("#charts").append("svg")
                                        .attr("width", width + margin.left + margin.right)
                                        .attr("height", height + margin.top + margin.bottom);

                                    var focus = svg.append("g")
                                        .attr("class", "focus")
                                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                                    focus.append("clipPath")
                                        .attr("id", "clip")
                                        .append("rect")
                                        .attr("x", 0)
                                        .attr("y", y(1))
                                        .attr("width", width)
                                        .attr("height", y(0) - y(1));

                                    focus.append("g")
                                        .attr("class", "bollinger")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("class", "volume")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("class", "candlestick")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("class", "tradearrow")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("class", "macd")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("class", "indicator sma ma-0")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("class", "indicator sma ma-1")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("class", "indicator ema ma-2")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("class", "indicator ema ma-3")
                                        .attr("clip-path", "url(#clip)");

                                    focus.append("g")
                                        .attr("id", "data_line1")
                                        .append("path")
                                        .attr("clip-path", "url(#clip)")
                                        .attr("class", "line");

                                    focus.append("g")
                                        .attr("class", "x axis")
                                        .attr("transform", "translate(0," + height + ")");

                                    focus.append('g')
                                        .attr("class", "crosshair")
                                        .call(crosshair);

                                    //focus.append("g")
                                    //	.attr("class", "y axis")
                                    //	.append("text")
                                    //	.attr("transform", "rotate(-90)")
                                    //	.attr("y", 6)
                                    //	.attr("x", -56)
                                    //	.attr("dy", ".71em")
                                    //	.style("text-anchor", "end")
                                    //	.text("MACD");

                                    focus.append("g")
                                        .attr("class", "y axis")
                                        .append("text")
                                        .attr("y", 0)
                                        .attr("x", 50)
                                        .attr("dy", ".71em")
                                        .style("text-anchor", "end")
                                        .style("fill", "#1f77b4")
                                        .text("SMA10");

                                    focus.append("g")
                                        .attr("class", "y axis")
                                        .append("text")
                                        .attr("y", 0)
                                        .attr("x", 100)
                                        .attr("dy", ".71em")
                                        .style("text-anchor", "end")
                                        .style("fill", "#aec7e8")
                                        .text("SMA20");

                                    focus.append("g")
                                        .attr("class", "y axis")
                                        .append("text")
                                        .attr("y", 0)
                                        .attr("x", 150)
                                        .attr("dy", ".71em")
                                        .style("text-anchor", "end")
                                        .style("fill", "#ff7f0e")
                                        .text("EMA50");

                                    var context = svg.append("g")
                                        .attr("class", "context")
                                        .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

                                    context.append("g")
                                        .attr("class", "close");

                                    context.append("g")
                                        .attr("class", "pane");

                                    context.append("g")
                                        .attr("class", "x axis")
                                        .attr("transform", "translate(0," + height2 + ")");

                                    context.append("g")
                                        .attr("class", "y axis")
                                        .call(yAxis2);

                                    var url = '/api/gettickers/' + t;
                                    $.getJSON(url, null, function (data) {

                                        var accessor = candlestick.accessor(),
                                            timestart = Date.now();

                                        var caldles = data.map(function (d) {
                                            return {
                                                date: parseDate(d.timestamp.slice(0, -1)),
                                                open: +d.open,
                                                high: +d.high,
                                                low: +d.low,
                                                close: +d.close,
                                                volume: +d.volume,

                                                line1: (d.open + 20)
                                            };
                                        }).sort(function (a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); });

                                        var macdAccessor = macd.accessor();
                                        var macdData = data.map(function (d) {
                                            return {
                                                date: parseDate(d.timestamp.slice(0, -1)),
                                                open: +d.open,
                                                high: +d.high,
                                                low: +d.low,
                                                close: +d.close,
                                                volume: +d.volume
                                            };
                                        }).sort(function (a, b) { return d3.ascending(macdAccessor.d(a), macdAccessor.d(b)); });

                                        var url2 = '/api/getSignals/' + t;
                                        $.getJSON(url2, null, function (signals) {
                                            var trades = signals.map(function (d) {
                                                return {
                                                    date: parseDate(d.timestamp.slice(0, -1)),
                                                    price: +d.price,
                                                    //high: +d.high,
                                                    //low: +d.low,
                                                    type: (d.tradeAdvice === "1" ? "buy" : "sell")
                                                };
                                            }).sort(function (a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); });

                                            var trades2 = signals.map(function (d) {
                                                return {
                                                    date: d.timestamp,
                                                    price: +d.price,
                                                    //high: +d.high,
                                                    //low: +d.low,
                                                    type: (d.tradeAdvice === "1" ? "buy" : "sell"),

                                                    profit: d.profit,
                                                    percentageProfit: d.percentageProfit
                                                    //duration: d.duration,
                                                    //period: d.period
                                                };
                                            }).sort(function (a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); });

                                            var prepareTradeSignal = function (value) {
                                                var sigInfo = (value.type + " " + value.date.slice(0, -1).replace("T", " ") + " " + value.price + " ");
                                                if (value.type == "sell") {
                                                    return sigInfo + " $ " + value.percentageProfit + " $ ";
                                                } else {
                                                    return sigInfo;
                                                }
                                            };

                                            $("#mySelect").empty();
                                            $.each(trades2, function (index, value) {
                                                $("#mySelect").append($("<option>", {
                                                    value: index,
                                                    text: prepareTradeSignal(value)
                                                }));
                                            });

                                            x.domain(caldles.map(accessor.d));
                                            x2.domain(x.domain());
                                            y.domain(techan.scale.plot.ohlc(caldles, accessor).domain());
                                            y2.domain(y.domain());

                                            yVolume.domain(techan.scale.plot.volume(caldles).domain());

                                            focus.select("g.candlestick").datum(caldles);
                                            focus.select("g.volume").datum(caldles);
                                            focus.select("g.tradearrow").datum(trades).call(tradearrow);
                                            //focus.select("g.macd").datum(macdData).call(macd);

                                            focus.select("g.sma.ma-0").datum(techan.indicator.sma().period(10)(caldles)).call(sma0);
                                            focus.select("g.sma.ma-1").datum(techan.indicator.sma().period(20)(caldles)).call(sma1);
                                            focus.select("g.ema.ma-2").datum(techan.indicator.ema().period(3)(caldles)).call(ema2);
                                            focus.select("g.ema.ma-3").datum(techan.indicator.ema().period(6)(caldles)).call(ema3);

                                            focus.select("g#data_line1 path").datum(caldles).attr("d", plotLine1);

                                            context.select("g.close").datum(caldles).call(close);
                                            context.select("g.x.axis").call(xAxis2);

                                            // Associate the brush with the scale and render the brush only AFTER a domain has been applied
                                            context.select("g.pane").call(brush).selectAll("rect").attr("height", height2);

                                            x.zoomable().domain(x2.zoomable().domain());
                                            draw();
                                        });
                                    });

                                    function brushed() {
                                        var zoomable = x.zoomable(),
                                            zoomable2 = x2.zoomable();

                                        zoomable.domain(zoomable2.domain());
                                        if (d3.event.selection !== null)
                                            zoomable.domain(d3.event.selection.map(zoomable.invert));
                                        draw();
                                    }

                                    function draw() {
                                        var candlestickSelection = focus.select("g.candlestick")
                                        var data = candlestickSelection.datum();
                                        candlestickSelection.call(candlestick);

                                        var tradearrowSelection = focus.select("g.tradearrow")
                                        var trades = tradearrowSelection.datum();
                                        tradearrowSelection.call(tradearrow);

                                        var macdSelection = focus.select("g.macd")
                                        var macdDatas = macdSelection.datum();

                                        var data_line1Selection = focus.select("g#data_line1 path");
                                        data_line1Selection.attr("d", plotLine1);

                                        y.domain(techan.scale.plot.ohlc(data.slice.apply(data, x.zoomable().domain()), candlestick.accessor()).domain());

                                        focus.select("g.volume").call(volume);

                                        var bollingerData = techan.indicator.bollinger()(data);
                                        focus.select("g.bollinger").datum(bollingerData).call(bollinger);

                                        //var macdDatas = techan.indicator.macd()(data);
                                        //focus.select("g.macd").datum(macdDatas).call(macd);

                                        focus.select("g.sma.ma-0").call(sma0.refresh);
                                        focus.select("g.sma.ma-1").call(sma1.refresh);
                                        focus.select("g.ema.ma-2").call(ema2.refresh);
                                        focus.select("g.ema.ma-3").call(ema3.refresh);

                                        focus.select("g.x.axis").call(xAxis);
                                        focus.select("g.y.axis").call(yAxis);
                                    }
                                }
                            });
                        });
                    </script>
                </div>

                <div class="col-md-1">
                    <select id="mySelect" size="80"></select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tradingViewModal">
    <div class="modal-dialog" style="width: 80%;">
        <div id="tradingViewModalContent" class="modal-content">
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    var table = null;
    var initDatatable;
    var dataArray = new Array();
    var backtestData = null;

    function selectPickerImage(opt) {
        if (!opt.id) {
            return opt.text;
        }
        var optimage = $(opt.element).data('image');
        var opticon = $(opt.element).data('icon');
        if (!optimage && !opticon) {
            return opt.text;
        }
        if (optimage) {
            var $opt = $(
                '<span class="userName"><img style="width: 16px;" src="' + optimage + '" class="dropdownImage" />&nbsp;&nbsp;' + $(opt.element).text() + '</span>'
            );
            return $opt;
        }
        if (opticon) {
            var $opt = $(
                '<span class="userName"><i class="' + opticon + '"/></i>&nbsp;&nbsp;' + $(opt.element).text() + '</span>'
            );
            return $opt;
        }
    };

    var pagefunction = function () {

        $(".selectpicker").select2({
            theme: "bootstrap",
            templateResult: selectPickerImage,
            templateSelection: selectPickerImage,
            width: "100%"
        });

        $('.select2-multiple').select2({
            multiple: true,
            theme: "bootstrap",
            templateResult: selectPickerImage,
            templateSelection: selectPickerImage,
            width: "100%"
        })

        $('#exchangeSelect').change(function () {
            widgetBackendTester.updateSymbols();
        });

        $('#currencyToCheck').change(function () {
            widgetBackendTester.updateCandleAge();
        });

        $('#candleSize').change(function () {
            widgetBackendTester.updateCandleAge();
        });
    };

    var refeshCandles = function () {
        $("#refreshButton").prop("disabled", true);
        $("#startButton").prop("disabled", true);

        axios.get('/api/trading/refreshCandles?exchange=' + $("#exchangeSelect").val() + '&coinsToBuy=' + $("#currencyToCheck").val() + '&candleSize=' + $("#candleSize").val()).then((response) => {
            $("#refreshButton").prop("disabled", false);
            $("#startButton").prop("disabled", false);
            widgetBackendTester.updateCandleAge();
        })
            .catch((error) => {
                console.log(error);
            });
    };

    var runStrategy = function () {
        if (table != null) {
            table.clear().draw();
            dataArray = new Array();
        }

        axios.get('/api/trading/backtester?exchange=' + $("#exchangeSelect").val() + '&coinsToBuy=' + $("#currencyToCheck").val() + '&candleSize=' + $("#candleSize").val() + '&strategy=' + $("#tradingStrategy").val()).then((response) => {
        }).catch((error) => {
            console.log(error);
        });

        initDatatable = function () {
            table = $('#backtesterTableId').DataTable({
                aaData: backtestData,
                responsive: true,
                "autoWidth": false,
                "iDisplayLength": 100,
                'columnDefs': [{
                    'targets': 0,
                    'searchable': true,
                    'orderable': true,
                    'className': 'dt-body-center'
                }],
                'order': [0, 'asc'],
                "createdRow": function (row, data, dataIndex) {
                    /*if (data.market == true) {
                        $(row).addClass('yellowCell');
                    }*/
                },
                "columns": [
                    { "title": "Strategy", "mDataProp": "Strategy", "bVisible": true },
                    {
                        "title": "AmountOfTrades",
                        "mDataProp": "AmountOfTrades",
                        "sWidth": "120px",
                        "sType": "alt-string",
                        "sClass": "center",
                        responsivePriority: 2,
                        mRender: function (data, type, full, meta) {
                            var formatted = full.AmountOfTrades + " <span style='color: #008000'>(" + full.AmountOfProfitableTrades + "</span>/<span  style='color: #ff0000'>" + (full.AmountOfTrades - full.AmountOfProfitableTrades) + "</span>)";
                            return formatted;
                        }
                    },
                    {
                        "title": "SuccessRate",
                        "mDataProp": "SuccessRate",
                        "sWidth": "120px",
                        "sType": "alt-string",
                        "sClass": "center",
                        responsivePriority: 2,
                        mRender: function (data, type, row) {
                            var formatted = (row.SuccessRate).toFixed(2) + " %";
                            return formatted;
                        }
                    },
                    {
                        "title": "TotalProfit",
                        "mDataProp": "TotalProfit",
                        "sWidth": "120px",
                        "sType": "alt-string",
                        "sClass": "center",
                        responsivePriority: 2,
                        mRender: function (data, type, row) {
                            var formatted = (row.TotalProfit).toFixed(3) + " BTC";
                            return formatted;
                        },
                        createdCell: function (td, cellData, rowData, row, col) {
                            if (rowData.TotalProfit > 0) $(td).addClass('greenCell');
                            if (rowData.TotalProfit < 0) $(td).addClass('redCell');
                        }
                    },
                    {
                        "title": "TotalProfitPercentage",
                        "mDataProp": "TotalProfitPercentage",
                        "sWidth": "120px",
                        "sType": "alt-string",
                        "sClass": "center",
                        responsivePriority: 2,
                        mRender: function (data, type, row) {
                            var formatted = (row.TotalProfitPercentage).toFixed(2) + " %";
                            return formatted;
                        },
                        createdCell: function (td, cellData, rowData, row, col) {
                            if (rowData.TotalProfit > 0) $(td).addClass('greenCell');
                            if (rowData.TotalProfit < 0) $(td).addClass('redCell');
                        }
                    },
                    {
                        "title": "AverageDuration",
                        "mDataProp": "AverageDuration",
                        "sWidth": "120px",
                        "sType": "alt-string",
                        "sClass": "center",
                        responsivePriority: 2,
                        mRender: function (data, type, row) {
                            var formatted = (row.AverageDuration).toFixed(2) + " hours";
                            return formatted;
                        }
                    },
                    {
                        "title": "DataPeriod",
                        "mDataProp": "DataPeriod",
                        "sWidth": "120px",
                        "sType": "alt-string",
                        "sClass": "center",
                        responsivePriority: 2,
                        mRender: function (data, type, row) {
                            var formatted = row.DataPeriod + " days";
                            return formatted;
                        }
                    }
                ]
            });
        };
    };

    var widgetBackendTester = new Vue({
        el: '#widgetBackendTester',

        data: {
            allStrategiesData: null,
            exchangeCoinsData: null,
            candleAgeData: []
        },

        created: function () {
            this.connectSignalr();
            this.fetchData();
        },

        methods: {
            connectSignalr: function () {
                let hubRoute = "/signalr/HubMyntBacktest";
                let protocol = new signalR.JsonHubProtocol();
                var options = {};

                var connectionBacktester = new signalR.HubConnectionBuilder()
                    //.configureLogging(signalR.LogLevel.Trace)
                    .withUrl(hubRoute, options)
                    .withHubProtocol(protocol)
                    .build();

                var connectSignalr = function () {
                    connectionBacktester.start().then(function () {
                        addSignalrClient(hubRoute, connectionBacktester);
                    }).catch(function () {
                    });
                };

                var reconnectSignalr = function () {
                    if (signalrConnections[hubRoute] != null) {
                        setTimeout(function () {
                            console.log("reconnnect");
                            connectSignalr();
                        }, 5000);
                    }
                };

                connectionBacktester.on('Send',
                    function (msg) {
                        if (backtestData == null) {
                            dataArray.push(JSON.parse(msg));
                            backtestData = dataArray;
                            initDatatable();
                        } else {
                            dataArray.push(JSON.parse(msg));
                            table.clear().rows.add(dataArray).draw();
                        }
                    });
                connectionBacktester.onclose(function () {
                    console.log("disconnected");
                    reconnectSignalr();
                });

                connectSignalr();
            },
            fetchData: function () {
                var self = this;
                $.get('/api/trading/backtesterStrategy', function (data) {
                    self.allStrategiesData = data;
                    self.$nextTick(function () {
                        pagefunction();
                        self.updateSymbols();

                    });
                });
            },
            formatDate: function (date) {
                return moment(date).format('YYYY-MM-DD HH:mm');
            },
            updateSymbols: function () {
                var self = this;
                $.get('/api/trading/getExchangePairs?exchange=' + $("#exchangeSelect").val(), function (data) {
                    self.exchangeCoinsData = data;
                    self.$nextTick(function () {
                        pagefunction();
                        //self.updateCandleAge();

                    });
                });
            },
            updateCandleAge: function () {
                var self = this;
                $.get('/api/trading/candlesAge?exchange=' + $("#exchangeSelect").val() + '&coinsToBuy=' + $("#currencyToCheck").val() + '&candleSize=' + $("#candleSize").val(), function (data) {
                    self.candleAgeData = data["result"];
                    if (data["result"].length === 0) {
                        $("#startButton").prop("disabled", true);
                    } else {
                        $("#startButton").prop("disabled", false);
                    }

                });
            }
        }
    });

</script>
