<script src="/vendors/moment/js/moment-with-locales.min.js"></script>
<script src="/js/DisplayHelper.js"></script>

<div class="animated fadeIn" id="myntTrades" v-if="myntTradesData">
  <h3 class="mt-5">Active Trades</h3>
  <p v-if="myntTradesData.activeTrades == null">No active trades!</p>
  <p v-if="myntTradesData.activeTrades.length == 0">No active trades!</p>
  <template v-if="myntTradesData.activeTrades.length > 0">
    <div class="whiteblock">
      <table class="table table-hover table-sm" id="activeTrades" style="width: 100%">
        <thead>
          <tr>
            <th>Trader Id</th>
            <th>Bought</th>
            <th>Coin</th>
            <th>Quantity</th>
            <th>Open rate</th>
            <th>Last price</th>
            <th>Profit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(value, key, index) in myntTradesData.activeTrades">
            <td>{{myntTradesData.activeTrades[key].traderId}}</td>
            <td>{{moment(myntTradesData.activeTrades[key].openDate)}}</td>
            <td>{{myntTradesData.activeTrades[key].market}}</td>
            <td>{{parseFloat(myntTradesData.activeTrades[key].quantity).toFixed(3)}}</td>
            <td>{{parseFloat(myntTradesData.activeTrades[key].openRate).toFixed(6)}}</td>
            <td>{{parseFloat(myntTradesData.activeTrades[key].tickerLast.last).toFixed(6)}}</td>
            <td>{{parseFloat(myntTradesData.activeTrades[key].tickerLast.last - myntTradesData.activeTrades[key].openRate).toFixed(6)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>


  <h3 class="mt-5">Trade history</h3>
  <p v-if="myntTradesData.closedTrades == null">No active trades!</p>
  <p v-if="myntTradesData.closedTrades.length == 0">No closed trades!</p>
  <template v-if="myntTradesData.closedTrades.length > 0">
    <div class="whiteblock">
      <table class="table table-hover table-sm" id="closedTrades" style="width: 100%">
        <thead>
          <tr>
            <th data-sort="int">Trader Id</th>
            <th>Bought</th>
            <th>Coin</th>
            <th>Open rate</th>
            <th>Quantity</th>
            <th>Close rate</th>
            <th>Closed</th>
            <th>Profit</th>
            <th>Profit %</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(value, key, index) in myntTradesData.closedTrades">
            <td>{{myntTradesData.closedTrades[key].traderId}}</td>
            <td>{{moment(myntTradesData.closedTrades[key].openDate)}}</td>
            <td>{{myntTradesData.closedTrades[key].market}}</td>
            <td>{{myntTradesData.closedTrades[key].openRate}}</td>
            <td>{{myntTradesData.closedTrades[key].quantity}}</td>
            <td>{{myntTradesData.closedTrades[key].closeRate}}</td>
            <td>{{moment(myntTradesData.closedTrades[key].closeDate)}}</td>
            <td>{{myntTradesData.closedTrades[key].closeProfit}}</td>
            <td>{{parseFloat(myntTradesData.closedTrades[key].closeProfitPercentage).toFixed(2)}} %</td>
            <td>{{myntTradesData.closedTrades[key].sellType}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
</div>



<script src="/vendors/vue/js/vue.min.js"></script>


<script>
  var pagefunction = function () {
  };

  var myntTrades = new Vue({
    el: '#myntTrades',

    data: {
      myntTradesData: null
    },

    created: function () {
      this.connectSignalr();
      this.fetchData();
    },
    
    mounted: function () {
        this.$nextTick(function() {
            // Code that will run only after the
            // entire view has been rendered
            displayhelper();
        });
    },

    methods: {
      connectSignalr: function () {
        var self = this;
        let hubRoute = "/signalr/HubMyntTrades";
        let protocol = new signalR.JsonHubProtocol();
        var options = {};

        var connection = new signalR.HubConnectionBuilder()
          //.configureLogging(signalR.LogLevel.Trace)
          .withUrl(hubRoute, options)
          .withHubProtocol(protocol)
          .build();

        var connectSignalr = function () {
          connection.start().then(function () {
            //Make sure to register this signalr client - Needed for disconnect on page change
            addSignalrClient(hubRoute, connection);
          }).catch(function (err) {
            console.log(err);
          });
        };

        var reconnectSignalr = function () {
          console.log(signalrConnections);
          if (signalrConnections[hubRoute] != null) {
            setTimeout(function () {
              console.log("reconnnect");
              connectSignalr();
            }, 5000);
          }
        }

        connection.on('Send', function (msg) {
          console.log("Msg from signalR: " + msg);
          self.updateData();
        });

        connection.onclose(function (e) {
          if (e) {
            console.log('Connection closed with error: ' + e);
          }
          else {
            console.log('Disconnected');
          }
          //Reconnect -> This connection should never be offline
          reconnectSignalr();
        });

        connectSignalr();
      },

      fetchData: function () {
        var self = this;
          $.get("/api/mynt/trading/trades/", function (data) {
          self.myntTradesData = data;
          self.$nextTick(function () {
            pagefunction();
          });
        });
      },
      updateData: function () {
        var self = this;
          $.get("/api/mynt/trading/trades/", function (data) {
          self.myntTradesData = data;
        });
      },
      moment: function (data) {
        return moment(data).format("YYYY-MM-DD HH:mm:ss");
      },
    }
  });
</script>
