<script src="/vendors/moment/js/moment-with-locales.min.js"></script>
<script src="/js/DisplayHelper.js"></script>

<div class="animated fadeIn" id="myntTraders" v-if="myntTradersData">
    <h3 class="mt-5">Traders</h3>
    <p v-if="myntTradersData.traders.length == 0">No traders!</p>

    <!-- Active traders-->
    <h4 class="mt-5">Active Traders</h4>
    <div class="row" v-if="myntTradersData.traders.length > 0">
        <template v-for="(value, key, index) in myntTradersData.traders">
            <div class="col-lg-3 col-md-4 col-sm-6" v-if="myntTradersData.traders[key].activeTrade != null">
                <div class="card text-white bg-primary trader">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="card-title">Trader {{myntTradersData.traders[key].identifier}}</h4>
                            </div>
                            <div class="col-4">
                                <!--<a href="#" class="btn btn-success btn-xs">! Sell now</a>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>Balance</div>
                                <b>{{parseFloat(myntTradersData.traders[key].currentBalance).toFixed(4)}} {{myntTradersData.quoteCurrency}}</b>
                            </div>
                            <div class="col-4">
                                <div>Profit</div>
                                <div class="activetrade" v-if="myntTradersData.activeTrades == null">No active trade</div>

                                <div class="activetrade" v-if="myntTradersData.activeTrades.length > 0">
                                    <template v-if="myntTradersData.activeTrades[key]">
                                        {{parseFloat(myntTradersData.activeTrades[key].openProfitPercentage).toFixed(5)}} %
                                    </template>
                                    <!-- ToDo -->
                                    <!--<div class="currencyStyle">@trade.Market</div>-->
                                </div>
                            </div>
                            <div class="col-4">
                                <div>Trading</div>
                                <div>
                                    <span class="currencyStyle">
                                        <template v-if="myntTradersData.activeTrades[key]">
                                            {{myntTradersData.activeTrades[key].market}}
                                        </template>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <!-- Inactive traders-->
    <h4 class="mt-5">Inactive Traders</h4>
    <div class="row" v-if="myntTradersData.traders.length > 0">
        <template v-for="(value, key, index) in myntTradersData.traders">
            <div class="col-4" v-if="myntTradersData.traders[key].activeTrade == null">
                <div class="card text-white bg-primary trader">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="card-title">Trader {{myntTradersData.traders[key].identifier}}</h4>
                            </div>
                            <div class="col-4">
                                <!--<a href="#" class="btn btn-success btn-xs">! Sell now</a>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>Balance</div>
                                <b>{{parseFloat(myntTradersData.traders[key].currentBalance).toFixed(4)}} {{myntTradersData.quoteCurrency}}</b>
                            </div>
                            <div class="col-4">
                                <div>Profit</div>
                                <div class="">No trade</div>
                            </div>
                            <div class="col-4">
                                <div>Trading</div>
                                <div>
                                    <span class="currencyStyle">
                                        <template v-if="myntTradersData.activeTrades[key]">
                                            {{myntTradersData.activeTrades[key].market}}
                                        </template>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>



<script src="/vendors/vue/js/vue.min.js"></script>


<script>
  var pagefunction = function () {
  };

  var myntTraders = new Vue({
    el: '#myntTraders',

    data: {
      myntTradersData: null
    },

    created: function () {
      this.connectSignalr();
      this.fetchData();
    },
    
    mounted: function () {
        this.$nextTick(function() {
            // Code that will run only after the
            // entire view has been rendered
            displayhelper();
        });
    },

    methods: {
      connectSignalr: function () {
        var self = this;
        let hubRoute = "/signalr/HubMyntTraders";
        let protocol = new signalR.JsonHubProtocol();
        var options = {};

        var connection = new signalR.HubConnectionBuilder()
          //.configureLogging(signalR.LogLevel.Trace)
          .withUrl(hubRoute, options)
          .withHubProtocol(protocol)
          .build();

        var connectSignalr = function () {
          connection.start().then(function () {
            //Make sure to register this signalr client - Needed for disconnect on page change
            addSignalrClient(hubRoute, connection);
          }).catch(function (err) {
            console.log(err);
          });
        };

        var reconnectSignalr = function () {
          console.log(signalrConnections);
          if (signalrConnections[hubRoute] != null) {
            setTimeout(function () {
              console.log("reconnnect");
              connectSignalr();
            }, 5000);
          }
        }

        connection.on('Send', function (msg) {
          console.log("Msg from signalR: " + msg);
          self.updateData();
        });

        connection.onclose(function (e) {
          if (e) {
            console.log('Connection closed with error: ' + e);
          }
          else {
            console.log('Disconnected');
          }
          //Reconnect -> This connection should never be offline
          reconnectSignalr();
        });

        connectSignalr();
      },

      fetchData: function () {
        var self = this;
          $.get("/api/mynt/trading/traders/", function (data) {
          self.myntTradersData = data;
          self.$nextTick(function () {
            pagefunction();
          });
        });
      },
      updateData: function () {
        var self = this;
          $.get("/api/mynt/trading/traders/", function (data) {
          self.myntTradersData = data;
        });
      },
      moment: function (data) {
        return moment(data).format("YYYY-MM-DD HH:mm:ss");
      },
    }
  });
</script>
