<div class="animated fadeIn">

    <div class="col-md-12" id="homeDashBoard">
        <div class="card">
            <div class="card-header">
                <i class="fal fa-check"></i>MachinaTrader
                <div class="card-actions">
                    <a href="#" class="btn-setting"><i class="fal fa-cog"></i></a>
                    <a href="#" class="btn-minimize" data-widget="collapse"><i class="fal fa-angle-up"></i></a>
                    <a href="#" class="btn-close" data-widget="remove"><i class="fal fa-times-circle"></i></a>
                </div>
            </div>
            <div class="card-body">
                <strong>Status</strong>
                <br><br>
                    <h1>USD {{ performanceData["totalInUsd"] }}</h1>
                    <h1>BTC {{ performanceData["totalInBtc"] }}</h1>
                


            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var homeDashBoard = new Vue({
        el: '#homeDashBoard',
        parent: vueMain,

        data: {
            performanceData: null
        },

        created: function () {
            this.fetchData();
        },

        methods: {
            fetchData: function () {
                var self = this;
                $.get('/api/exchange/account/balance', function (data) {
                    self.performanceData = data;
                });
            }
        }
    });
</script>
