<div class="animated fadeIn">

    <div class="col-md-12" id="homeDashBoard">
        <div class="card">
            <div class="card-header">
                <i class="fal fa-check"></i>MachinaTrader
                <div class="card-actions">
                    <a href="#" class="btn-setting"><i class="fal fa-cog"></i></a>
                    <a href="#" class="btn-minimize" data-widget="collapse"><i class="fal fa-angle-up"></i></a>
                    <a href="#" class="btn-close" data-widget="remove"><i class="fal fa-times-circle"></i></a>
                </div>
            </div>
            <div class="card-body">
                <strong>Status</strong>
                <br><br>
                <h3>USD {{ statsData["balanceUsd"] }}</h3>
                <h3>BTC {{ statsData["balanceBtc"] }}</h3>
                <h3>Trend {{ statsData["globalMarketTrend"] }}</h3>
                <h3>Trades {{ statsData["activeTrades"] }}</h3>
                <h3>Risk {{ statsData["riskValue"] }}</h3>
                <h3>TrendScore {{ statsData["globalMarketTrendScore"] }}</h3>
                <h3>PerformanceSum {{ statsData["performanceSum"] }} ‰</h3>
                <h3>PerformanceAvg {{ statsData["performanceAvg"] }} ‰</h3>
                <h3>PositiveTrades {{ statsData["positiveTrades"] }} %</h3>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var homeDashBoard = new Vue({
        el: '#homeDashBoard',
        parent: vueMain,

        data: {
            statsData: null
        },

        created: function () {
            this.fetchData();
        },

        methods: {
            fetchData: function () {
                var self = this;
                $.get('/api/statistics/overview', function (data) {
                    self.statsData = data;
                });
            }
        }
    });
</script>
